@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .profilePicture {
        display: none;
    }
}

header {
    height:10vh;
    min-height:400px;
    background-size:cover;
    cursor: pointer;
}

.hidden-spacer {
    height: 56px
}

.navbar {
    color: white;
    background-color: transparent;
    -webkit-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
}

.navbar a:link,
.navbar a:visited,
.navbar a:active {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
    -webkit-transition: color 0.25s ease 0s;
    transition: color 0.25s ease 0s;
}

.navbar a:hover {
    color: rgb(43, 43, 43) !important;
    background-color: transparent !important;
    text-decoration: none !important;
    -webkit-transition: color 0.25s ease 0s;
    transition: color 0.25s ease 0s;
}

#accBtn {
    color: white;
    border-radius: 0.25rem;
}

#accBtn:focus {
    color: black;
    background-color: white;
}

#accBtn:hover {
    color: black;
    background-color: white;
}

#accBtn a:hover {
    color: black !important;
}

#accImg {
    border-radius: 5px;
}

.inputField input{
    width: 100%;
}

.card {
    border-radius: 8px;
    border: 0 !important;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

#postBtn {
    color: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 7px 20px;
}

#imgBtn {
    background-color: #F3F3F3 !important;
}

#profileName {
    font-size: 15pt;
}

.profileDetail {
    color: rgb(138, 138, 138);
}

#profileControl {
    font-size: 10pt;
    cursor: pointer;
}

#profileControl a{
    text-decoration: none;
}

#profileControl a:link,
#profileControl a:visited,
#profileControl a:active {
    text-decoration: none;
    color: #696969;
}

#profileControl a:hover{
    text-decoration: none;
    color: rgb(124, 124, 124);
}

textarea {
    background-color: #F3F3F3 !important;
    border-radius: 8px !important;
    resize: none;
    border: 0 !important;
    overflow: hidden;
    padding: 10px 15px !important;
}

textarea::placeholder {
    color: #B7B7B7 !important;
    font-style: italic;
}

.postName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

.containerPost hr {
    border: 1px solid #DCDCDC;
}

.comment {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 10px 20px;

    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.commentBtn {
    color: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 10px 20px;
}

  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#profileImage {
    cursor: pointer;
}

#profileImage:hover .middle {
    opacity: 1;
}

.text {
    border-radius: 150px;
    background-color: rgba(83, 83, 83, 0.8);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}