@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    height: 150%;
}

body {
    background-color: #F3F3F3;
}

header {
    height:10vh;
    min-height:400px;
    background-size:cover;
    background-image: url('/assets/img/web/cover-default.png');
}

.hidden-spacer {
    height: 56px
}

.navbar {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: transparent;
    -webkit-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
}

.solid {
    background-color: #7E6BC4 !important;
    -webkit-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
}

.navbar a:link,
.navbar a:visited,
.navbar a:active {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.navbar a:hover {
    color: rgb(201, 201, 201) !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

#accBtn {
    color: white;
    border-radius: 0.25rem;
}

#accBtn:focus {
    color: black;
    background-color: white;
}

#accBtn:hover {
    color: black;
    background-color: white;
}

#accBtn a:hover {
    color: black !important;
}

#accImg {
    border-radius: 5px;
}